.card-element{
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-heading{
    font-size: 20px;
    font-weight: 700;
}

.card-img{
    height: 60%;
    width: 60%;
}