.list-container{
    position: relative;
}

.grid{
    display: grid;
    min-height: 100vh;
    margin-top: 5vh;
    grid-template-columns: repeat(5,1fr);
}

.row{
    display: flex;
    flex-direction: row;
}